*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right, #BBBEFE, #6aaaa5);
}

.container{
    width: 95%;
    margin: auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 26px 0;
}

.nav h2{
    font-size: 2rem;
}

.user-input{
    width: 300px;
    text-align: center;
}

.user-input input{
    width: 80%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
}


.user-input button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition: 1s;
    outline: none;
    background-color: lightgray;
    border: lightgray;
}

.user-input button:hover{
    background-color: transparent;
    color: white;
}

.to-do-items{
    width: 500px;
    margin: auto;
}

.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: black;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
}

input{
    width: fit-content;
    height: 20px;
}

@media(max-width: 768px){
   .nav{
       align-items: center;
       flex-direction: column;
   } 
}